* {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #F8F3EA;
}

body {
    background-color: #333333;
}

main {
    margin: 2em;
    padding: 2em;
    width: 100%-4em;
}

p {
    font-size: 1em;
}

.title-img {
    max-width: 80vw;
}

.btn {
    text-decoration: none;
    margin: 1em 0;
    padding: 1em;
    display: block;
    font-size: 2em;
    text-align: center;
    border: 3px white solid;
    border-radius: 20px;
    height: 50px;
    width: calc(100%-2em);
}

.btn:hover {
    background-color: #E2F1F1;
    color: #333333;
}
